body{
	margin:0;
	padding:0;
	overflow:hidden;
}
/*

  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

*/
#home { 
	background: url('http://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/Demo/images/about.jpg') 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#about { 
	background: url('http://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/Demo/images/home.jpg') 50% 0 no-repeat fixed; 
	height: 500px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#contact{
	background: url('http://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/Demo/images/about.jpg') 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/* Introduction */

#home article { 
	background: url('http://img87.imageshack.us/img87/5673/rotatetrans.png') no-repeat scroll center top transparent; 
	height: 1000px; 
	position: absolute; 
	text-indent: -9999px; 
	top: 0px; 
	width: 100%; 
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

#about article { 
	background: url('http://img87.imageshack.us/img87/5673/rotatetrans.png') no-repeat scroll center top transparent;
	height: 458px; 
	position: absolute; 
	text-indent: -9999px;  
	top: 0px; 
	width: 100%; 
}
#contact article { 
	background: url('http://img87.imageshack.us/img87/5673/rotatetrans.png') no-repeat scroll center top transparent; 
	height: 458px; 
	position: absolute; 
	text-indent: -9999px;
	top: 0px; 
	width: 100%; 
}


